/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/*********************
 *      Product       *
 *********************/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 200px;
  margin: auto;
  text-align: left;
  font-family: arial;
  /* grid */
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  padding: 20px 20px;
}

.card button {
  background-color: #FF88C2;
  border: none;
  text-align: center;
  padding: 10px 32px;
}

.card button:hover {
  background-color: #FF0088;
}

.card-horzontal {
  padding: 10px 10px;
  display: inline-block; /* For Horizontal */
}


/* home page */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}



hr .line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/*********************
 *      Select       *
 *********************/
.selection {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

.select-card {
  /* sitting on the center */
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 500px;
  margin: auto;
  font-family: arial;
  padding: 30px;
}

.title-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.title1 {
  font-size: large;  
}

.title2 {
  text-align: right;
}

.select-button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

.select-button-grid p {
  text-align: center;
}



/* 購物車 */
.shoppingCart {
  background-color:papayawhip;
  padding: 20px;
}

.cart-grid {
  display: grid;
  grid-template-columns: 0.2fr 0.1fr 0.1fr  0.1fr ;
}